<div class="well well-md">
    <div class="row">
        <div class="col-md-2 col-xs-10 pad">
            <img src="content/img/about-me.png" class="img-responsive" />
        </div>
        <div class="col-md-1 hidden-xs">
            <img src="content/img/film.png" class="img-responsive" width="100px" height="auto" />
        </div>
    </div>
    <div class="row voffset5 hidden-xs">
        <div class="col-md-6 col-xs-12 pad" style="z-index: 110">
            <!-- Video Box -->
            <video id="video-box" autoplay width="90%">
                <source src="content/videos/Video6_schamanismus.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-md-1" style="z-index: 120">
            <img src="content/img/popcorn.png" class="img-responsive popcorn" alt="popcorn"/>
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-md-1">
            <a ng-click="vm.pause()">
                <img src="content/img/pause.png" alt="pause" class="img-responsive video-control" />
            </a>
        </div>
        <div class="col-md-1">
            <a ng-click="vm.play()">
                <img src="content/img/play.png" alt="pause" class="img-responsive video-control" />
            </a>
        </div>
        <div class="col-md-1">
            <a ng-click="vm.loop()">
                <img src="content/img/loop.png" alt="pause" class="img-responsive video-control" />
            </a>
        </div>
    </div>

    <div class="row voffset5 ">
        <div class="col-md-8">
            <h3 class="chameleon-sketch">Weitere Videos:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text">
            <img src="content/img/stylish-underline.png" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <a ng-click="vm.select('content/videos/Video2_Inspiration.mp4')">
                <h5 class="hysteria">Was mich inspiriert</h5>
            </a>
        </div>
        <div class="col-md-8">
            <a ng-click="vm.select('content/videos/Video3_kostuem.mp4')">
                <h5 class="hysteria">Kostümdesign</h5>
            </a>
        </div>
        <div class="col-md-8">
            <a ng-click="vm.select('content/videos/Video4_sobinich.mp4')">
                <h5 class="hysteria">Wer bin ich sonst noch?</h5>
            </a>
        </div>
        <div class="col-md-8">
            <a ng-click="vm.select('content/videos/Video5_preise.mp4')">
                <h5 class="hysteria">Warum habe ich keine Werbepreise?</h5>
            </a>
        </div>
        <div class="col-md-8">
            <a ng-click="vm.select('content/videos/Video7_abschied.mp4')">
                <h5 class="hysteria">Schlusswort</h5>
            </a>
        </div>
    </div>

    <div class="row voffset5">
        <div class="col-md-5 col-xs-12 pad text voffset5 droid-serif">
            <p class="amatic title no-padding-bottom">
                Wie kam ich zum Schamanismus?
            </p>
            <p class="droid-serif text-justify">
                Ich befasse mich schon immer in meiner Freizeit mit Musik,
                Psychologie, Philosophie, Spiritualität, Medizin, Yoga, Meditation
                und anderen Kulturen und habe vor ein paar Jahren
                den Schamanimus für mich entdeckt. Ich habe mit einem
                Schamanen jahrelang Selbsterfahrung betrieben und
                bin immer wieder begeistert von der Kraft des Räucherns,
                Trommelns, Tönens und der wunderschönen Rituale und
                möchte helfen, diese uralte Trance-Methode wieder mehr
                zu verbreiten. Ab Februar 2017 beginne ich die Ausbildung
                an der Schamanismus-Akademie bei Kurt Fenkart.
            </p>

            <p class="amatic title no-padding-bottom">
                Trommelreisen
            </p>
            <p class="droid-serif text-justify">
                Ich veranstalte manchmal Trommelreisen im Feelgoodstudio
                (Burggasse 31/7 im Innenhof, nächste Ubahn-Station
                U3 Volkstheater). Ich beginne mit Räuchern mit weißem
                Salbei und veranstalte dann eine Klangreise mit Rahmentrommel
                und Koshis.
            </p>
            <h6 class="droid-serif">
                Über mich:
            </h6>
            <p class="droid-serif text-justify">
                Ich heiße Christina, bin 37, hauptberuflich kreativ (Grafik,
                Illustration, Kostüme etc.), Mutter zweier Kinder, Traveller
                und befasse mich schon immer in meiner Freizeit mit Musik,
                Psychologie, Philosophie, Spiritualität, Medizin, Yoga,
                Meditation und anderen Kulturen und habe vor ein paar
                Jahren den Schamanimus für mich entdeckt. Ich habe mit
                einem Schamanen jahrelang Selbsterfahrung betrieben
                und bin immer wieder begeistert von der Kraft des Räucherns,
                Trommelns, Tönens und der wunderschönen Rituale.
                Ich habe meine zwei Trommeln aus Ziegen- und Rehhaut
                selber gemacht (das Reh mit Hilfe eines renommierten
                Trommelbauers) und schon viele Erfahrungen in der „anderen”
                Welt gesammelt.
            </p>
            <h6 class="droid-serif">
                Warum:
            </h6>
            <p class="droid-serif text-justify">
                eine Klangreise verbindet uns mit unserem Inneren und
                gibt uns die Möglichkeit Fragen zu stellen oder einfach nur
                unsere Gedanken zu ordnen. Mögliche Intentionen sind zB:
                Reise an den inneren Kraftort, wie sieht es dort aus? Wer ist
                mein Krafttier, wer mein innerer Lehrer? Hat er mir etwas
                zu sagen? Wie geht es meinen Beziehungen? Gibt es Botschaften
                von meinen Ahnen?
            </p>
        </div>
        <div class="col-md-5 col-xs-12 pad text no-padding-top droid-serif">
            <img src="content/fotos/Instrumente.jpg" class="img-responsive" alt="Instrumente" />
            <p class="droid-serif title">
                Ablauf:
            </p>
            <p class="droid-serif text-justify">
                Begrüßung, kleine Einführung, kurze Entspannungsübung
                für Körper & Geist, Klangreise, danach gemütliches Ausklingen
                und Zeit für kurzes Nachbesprechen.
            </p>
            <p class="droid-serif title">
                Vorbereitung:
            </p>
            <p class="droid-serif text-justify">
                Je entspannter und „leerer im Kopf“, desto einfacher ist es
                in eine Trance zu kommen, es hilft sich zwischen Alltag und
                Trance ein wenig Zeit einzuräumen. Nach der Arbeit/dem
                Kinderhüten zB Yoga praktizieren, entspannende Musik,
                eine heiße Dusche können nicht schaden. Bequeme Kleidung
                wäre gut, Matten und Decken sind vorhanden.
            </p>
            <p class="droid-serif title">
                Gut geeignet für:
            </p>
            <p class="droid-serif text-justify">
                alle, die ihr Unterbewußtsein, bzw. die „andere“ Welt erkunden
                wollen und eine neue Erfahrung machen wollen.
            </p>
            <p class="droid-serif text-justify">
                Nicht so geeignet für:
            </p>
            <p class="droid-serif text-justify">
                psychisch labile oder traumatisierte Menschen, oder Menschen,
                die gerade in einer großen Krise, aber ohne Therapeuten
                sind. Trancen können unterdrückte Gefühle hervorholen
                und große Umwälzungen bewirken und das sollte
                meiner Meinung nach von einem Psychotherapeuten begleitet
                werden.
                Anmeldung: bei Facebook anmelden oder kurzes Mail an:
                christina.goebl(at)chello.at • Unkostenbeitrag: EUR 15,-
            </p>
        </div>
        <img src="content/img/blank.png" width="10px">
    </div>

    <div class="row voffset">
        <div class="col-md-10">
            <a ui-sref="contact">
                <img src="content/fotos/Illu_print.jpg" class="img-responsive" alt="footer-brooch" />
            </a>
        </div>
    </div>

</div>
