<!--
<div class="schaman-login row voffset5" ng-switch="vm.isAuthenticated()">

    <div class="schaman-login-form " ng-switch-when="false">

        <form class="" role="form" novalidate ng-submit="vm.openSesame()">

            <div class="row">

                <div class="col-md-2">
                    <input type="password" name="password" ng-model="vm.password" />
                </div>

            </div>

        </form>

    </div>

    <div ng-switch-when="true" has-authority="ROLE_BUONJIORNO">
        <div ng-include="'app/buonjiorno/index.html'"></div>
    </div>

</div>
-->
<div class="schaman-login row voffset5">

    <div class="schaman-login-form ">

        <form class="" role="form" novalidate ng-submit="vm.openSesame()">

            <div class="row">

                <div class="col-md-2">
                    <input type="password" name="password" ng-model="vm.password" />
                </div>

            </div>

        </form>

    </div>

</div>
