
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="editDashboardLabel" data-translate="dashboard.home.manageLabel" ng-if="vm.dashboard.id!=null">Edit a Dashboard</h4>
        <h4 class="modal-title" id="manageDashboardLabel" data-translate="dashboard.home.createLabel" ng-if="vm.dashboard.id==null">Create a Dashboard</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="control-label" data-translate="dashboard.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                   ng-model="vm.dashboard.title"
                />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dashboard.description" for="field_description">Description</label>
            <!--<input type="text" class="form-control" name="description" id="field_description" ng-model="vm.dashboard.description"/>-->
            <textarea class="form-control" name="description" id="field_description" ng-model="vm.dashboard.description">{{vm.dashboard.description}}</textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ui-sref="dashboard.delete({id: vm.dashboard.id})" class="btn btn-danger" data-dismiss="modal" ng-click="vm.clear()" ng-if="vm.dashboard.id!=null">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.delete">Delete</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
