<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container well well-md menubar">
        <div class="navbar-header row">
            <div class="col-md-1 col-sm-1 col-xs-3 no-padding">
                <a ng-click="vm.showMenuItems()" ng-mouseover="vm.showMenuItems()">
                    <img src="content/img/blank.png" alt="menu" class="img-responsive" height="120px" width="auto"/>
                </a>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-6 no-padding">
                <a ui-sref="home">
                    <img src="content/img/blank.png" alt="call" class="img-responsive" height="120px" width="auto"/>
                </a>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-3 no-padding">
                <a ui-sref="contact">
                    <img src="content/img/blank.png" alt="call" class="img-responsive" height="120px" width="auto"/>
                </a>
            </div>
        </div>

        <!--
        <div class="menubar-items">
            <a ng-click="vm.showMenuItems()" ng-mouseover="vm.showMenuItems()">
                <img src="content/img/blank.png" alt="menu" class="img-responsive pull-left" height="50px" width="auto" border="5"/>
            </a>
            <a ui-sref="contact">
                <img src="content/img/blank.png" alt="call" class="img-responsive pull-right" height="50px" width="auto">
            </a>
        </div>
        <div class="mobile-only-content menubar-items row" style="display:none;">
            <div class="col-xs-2">
                <a ng-click="vm.showMenuItems()" ng-mouseover="vm.showMenuItems()">
                    <img src="content/img/blank.png" alt="menu" class="img-responsive pull-left" height="80px" width="auto"/>
                </a>
            </div>
            <div class="col-xs-8">
                <a ui-sref="home">
                    <img src="content/img/blank.png" alt="call" class="img-responsive" height="80px" width="auto"/>
                </a>
            </div>
            <div class="col-xs-2">
                <a ui-sref="contact">
                    <img src="content/img/blank.png" alt="call" class="img-responsive pull-right" height="80px" width="auto"/>
                </a>
            </div>
        </div>
        -->

        <div class="menu-items well well-md pad"
             ng-if="vm.getMenuItemsState()==true" ng-switch="vm.isAuthenticated">
            <div class="pull-right" style="margin-top: -15px; margin-right: -15px;">
                <a ng-click="vm.hideMenuItems()">
                    <img src="content/img/close-btn.png" alt="X" height="40px" width="40px" id="close-btn"/>
                </a>
            </div>

            <div class="row pad" ng-switch-when="false">
                <a ui-sref="bonjour-login" ng-click="vm.hideMenuItems()" class="chameleon-sketch text">
                    <h6 class="chameleon-sketch">Specials</h6>
                </a>
            </div>

            <div class="row pad" ng-switch-when="true"  has-authority="ROLE_BONJOUR">
                <a ui-sref="bonjour" ng-click="vm.hideMenuItems()" class="chameleon-sketch text">
                    <h6 class="chameleon-sketch">Specials</h6>
                </a>
            </div>


            <div class="row pad" ng-switch-when="false">
                <a ui-sref="buonjiorno-login" ng-click="vm.hideMenuItems()" class="chameleon-sketch text" >
                    <!-- <img src="content/img/work-btn.png" class="img-responsive" alt="work"/>-->
                    <h6 class="chameleon-sketch">Schamanismus</h6>
                </a>
            </div>

            <div class="row pad" ng-switch-when="true" has-authority="ROLE_BUONJIORNO">
                <a ui-sref="buonjiorno" ng-click="vm.hideMenuItems()" class="chameleon-sketch text" >
                    <!-- <img src="content/img/work-btn.png" class="img-responsive" alt="work"/>-->
                    <h6 class="chameleon-sketch">Schamanismus</h6>
                </a>
            </div>

            <div class="row pad"  ng-switch-when="false">
              <a ui-sref="about" ng-click="vm.hideMenuItems()" class="chameleon-sketch text">
                <!-- <img src="content/img/about-btn.png" class="img-responsive" alt="about"/>-->
                  <h6 class="chameleon-sketch">About</h6>
              </a>
            </div>
            <div class="row pad"  ng-switch-when="true" has-authority="ROLE_BONJOUR">
                <a ui-sref="bonjour-about" ng-click="vm.hideMenuItems()" class="chameleon-sketch text">
                    <!-- <img src="content/img/about-btn.png" class="img-responsive" alt="about"/>-->
                    <h6 class="chameleon-sketch">About</h6>
                </a>
            </div>
            <div class="row pad"  ng-switch-when="true" has-authority="ROLE_BUONJIORNO">
                <a ui-sref="buonjiorno-about" ng-click="vm.hideMenuItems()" class="chameleon-sketch text">
                    <!-- <img src="content/img/about-btn.png" class="img-responsive" alt="about"/>-->
                    <h6 class="chameleon-sketch">About</h6>
                </a>
            </div>
            <div class="row pad">
              <a ui-sref="contact" ng-click="vm.hideMenuItems()" class="chameleon-sketch text">
                <!--<img src="content/img/contact-btn.png" class="img-responsive" alt="contact"/>-->
                  <h6 class="chameleon-sketch">Kontakt</h6>
              </a>
            </div>

            <div class="row pad" >
                <a ui-sref="impressum" ng-click="vm.hideMenuItems()" class="chameleon-sketch text">
                    <!--<img src="content/img/contact-btn.png" class="img-responsive" alt="contact"/>-->
                    <h6 class="chameleon-sketch">Impressum</h6>
                </a>
            </div>

            <div class="row pad" ng-switch-when="true">
                <a ng-click="vm.logout()" ng-click="vm.hideMenuItems()" class="chameleon-sketch text">
                    <h6 class="chameleon-sketch">Logout</h6>
                </a>
            </div>

        </div>
    </div>
</nav>
