<div class="row">

    <div class="col-md-12 col-sm-12  hidden-xs">
        <div ng-if="vm.isAuthenticated == false" style="z-index: 100">
            <a ui-sref="buonjiorno-login" class="schamanismus-desktop-link">
                <img src="content/img/blank.png"  width="250px" height="200px" class="schamanismus-desktop-link"
                     style="position: relative; top: 450px; left: 400px; width: 250px; height: 200px;" />
            </a>
        </div>
        <div  ng-if="vm.isAuthenticated == true" style="z-index: 100">
            <a ui-sref="buonjiorno-schamanismus" class="schamanismus-desktop-link">
                <img src="content/img/blank.png"  width="250px" height="200px" class="schamanismus-desktop-link"
                     style="position: relative; top: 450px; left: 400px; width: 250px; height: 200px;" />
            </a>
        </div>
        <img src="content/img/start-desktop.jpg" class="img-responsive"/>
    </div>
    <div class="hidden-lg hidden-md hidden-sm">
        <div>
            <a ui-sref="buonjiorno-login" class="schamanismus-desktop-link">
                <img src="content/img/blank.png"  width="250px" height="200px" style="position: relative; top: 450px; left: 400px;" />
            </a>
        </div>
        <img src="content/img/start-iphone.jpg" class="img-responsive" />
    </div>

</div>


