
@media screen and (min-width: 760px) and (max-width: 800px) {
    body{
        background: #ffffff;
    }

    .navbar{
        width: 99%;
        max-height: 50px !important;
        background: transparent !important;
    }

    .navbar-header{
        position: relative;
        top: -5px;
        height: 50px;
    }

    .container{
      width: 800px;
      padding: 0;
    }

    .menubar {
        height:50px !important;
        background: url("../img/menueleisteoben.jpg") no-repeat center center;
        background-size: contain;
        width: 806px;
        margin-left: -5px;
    }

    .menubar-items {
        min-width: 100% !important;
        height: 60px !important;
        background: transparent;
        position: relative;
        top: -10px;
        left: 0;
        margin-top: -5px;
    }
    .menu-items {
        background-color: #ffffff;
        position: relative;
        top: -8px;
        left: -10px;
        z-index: 201;
        max-width: 200px;
        display: block;
        float: left;
        margin-top: -10px;
        margin-left: -9px;
        margin-bottom: 20px;
    }

    #close-btn {
        height: auto;
        width: 25px;
    }

    .home {
        background: #fff;
        position: relative;
        top: 50px;
        min-width: 100%;
        text-align: center;
        margin: 0;
    }

    .mobile-only-content{
        display: block !important;
        width: 100%;
        text-align: center;
    }

    .schamanismus-mobile-link{
        position: relative; top: 450px; left: 400px;
        width: 250px;
        height: 200px;
    }
}

@media screen and (min-width: 700px)  and (max-width: 740px) {
  body{
      background: #ffffff;
  }
    .menubar {
        height: 60px !important;
        background: url("../img/menueleisteoben.jpg") no-repeat center top;
        background-size: contain;
        min-width: 730px;
    }
    .menu-items {
        background-color: #ffffff;
        position: relative;
        top: -15px;
        left: -10px;
        z-index: 201;
        max-width: 200px;
        display: block;
        float: left;
        margin-top: -10px;
        margin-left: -9px;
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 650px) and (max-width: 699px) {
  body{
      background: #ffffff;
  }
    .menubar {
        height: 50px !important;
        background: url("../img/menueleisteoben.jpg") no-repeat center top;
        background-size: contain;
        min-width: 675px;
    }
    .menu-items {
        background-color: #ffffff;
        position: relative;
        top: -15px;
        left: -10px;
        z-index: 201;
        max-width: 200px;
        display: block;
        float: left;
        margin-top: -10px;
        margin-left: -9px;
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 600px) and (max-width: 649px) {
  body{
      background: #ffffff;
  }
    .menubar {
        height: 50px !important;
        background: url("../img/menueleisteoben.jpg") no-repeat center top;
        background-size: contain;
        min-width: 625px;
    }
    .menu-items {
        background-color: #ffffff;
        position: relative;
        top: -15px;
        left: -10px;
        z-index: 201;
        max-width: 200px;
        display: block;
        float: left;
        margin-top: -10px;
        margin-left: -9px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 570px) and (max-width: 599px) {
    body{
        background: #ffffff;
    }
    .menubar {
        height: 50px !important;
        background: url("../img/menueleisteoben.jpg") no-repeat center top;
        background-size: contain;
        min-width: 575px;
    }
    .menu-items {
        background-color: #ffffff;
        position: relative;
        top: -25px;
        left: -10px;
        z-index: 201;
        max-width: 200px;
        display: block;
        float: left;
        margin-top: -10px;
        margin-left: -9px;
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 500px) and (max-width: 569px) {
    body{
        background: #ffffff;
    }
    .menubar {
        height: 50px !important;
        background: url("../img/menueleisteoben.jpg") no-repeat center top;
        background-size: contain;
        min-width: 530px;
    }
    .menu-items {
        background-color: #ffffff;
        position: relative;
        top: -20px;
        left: -8px;
        z-index: 201;
        max-width: 200px;
        display: block;
        float: left;
        margin-top: -10px;
        margin-left: -9px;
        margin-bottom: 20px;
    }
}
