<div class="row">
    <div class="col-md-2 col-xs-10 pad">
        <img src="content/img/about-me.png" class="img-responsive" />
    </div>
    <div class="col-md-1 hidden-xs">
        <img src="content/img/film.png" class="img-responsive" width="100px" height="auto" />
    </div>
</div>
<div class="row voffset5 hidden-xs">
    <div class="col-md-6 col-xs-12 pad" style="z-index: 110">
        <!-- Video Box -->
        <video id="video-box" width="90%">
            <source src="content/videos/Video1_Wasichbiete_Lebenslauf.mp4" type="video/mp4">
        </video>
    </div>
</div>
<div class="row hidden-xs hidden-sm">
    <div class="col-md-1" style="z-index: 120">
        <img src="content/img/popcorn.png" class="img-responsive popcorn" alt="popcorn"/>
    </div>
</div>
<div class="row hidden-xs">
    <div class="col-md-1">
        <a ng-click="vm.pause()">
            <img src="content/img/pause.png" alt="pause" class="img-responsive video-control" />
        </a>
    </div>
    <div class="col-md-1">
        <a ng-click="vm.play()">
            <img src="content/img/play.png" alt="pause" class="img-responsive video-control" />
        </a>
    </div>
    <div class="col-md-1">
        <a ng-click="vm.loop()">
            <img src="content/img/loop.png" alt="pause" class="img-responsive video-control" />
        </a>
    </div>
</div>

<div class="row voffset5 ">
    <div class="col-md-8">
        <h3 class="chameleon-sketch">Weitere Videos:</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text">
        <img src="content/img/stylish-underline.png" class="img-responsive" />
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <a ng-click="vm.select('content/videos/Video2_Inspiration.mp4')">
            <h5 class="hysteria">Was mich inspiriert</h5>
        </a>
    </div>
    <div class="col-md-8">
        <a ng-click="vm.select('content/videos/Video3_kostuem.mp4')">
            <h5 class="hysteria">Kostümdesign</h5>
        </a>
    </div>
    <div class="col-md-8">
        <a ng-click="vm.select('content/videos/Video4_sobinich.mp4')">
            <h5 class="hysteria">Wer bin ich sonst noch?</h5>
        </a>
    </div>
    <div class="col-md-8">
        <a ng-click="vm.select('content/videos/Video5_preise.mp4')">
            <h5 class="hysteria">Warum habe ich keine Werbepreise?</h5>
        </a>
    </div>
    <div class="col-md-8">
        <a ng-click="vm.select('content/videos/Video7_abschied.mp4')">
            <h5 class="hysteria">Schlusswort</h5>
        </a>
    </div>
</div>

<div class="row voffset5">
    <div class="col-md-5 col-xs-12 pad text voffset5">
        <p class="amatic">
            Meine Homepage war jetzt schon wieder 9 Jahre alt, deshalb hier die neue.
            Und dieses Mal mit Videos, weil das macht man jetzt so.
            Ich lasse mir auch Gott und die Welt nebenbei von Youtube erklären, online lange Texte lesen ist so 10er-Jahre.
            Für die Altmodischen, hier auch die Textversion:
        </p>
        <p class="amatic title no-padding-bottom">
            Was biete ich alles an?
        </p>
        <p class="text-justify">
            Weil ich meine Kreativität immer lebe, mache ich so ziemlich alles in diesem Bereich.
            Gelernt habe ich Grafik-Design, Interior Design, ein wenig Kostümdesign und außerdem Englisch
            und ein bißchen Italienisch, Spanisch, Französisch, Latein, Altgriechisch und Russisch.
            Ich entwerfe aufwendige Gesamt-Outfits zB für den Lifeball, mache Styling, Illustration,
            derzeit am liebsten mit Aquarell und fotografiere zur Entspannung Alltägliches.
            Ich arbeite seit 1999 als Grafikerin, seit 2001 selbständig.
        </p>
        <span class="amatic title">Reiselust</span>
        <p class="text-justify">
            Ich habe sehr viel Zeit und Energie investiert um die Welt zu sehen
            und war bisher in Indien, Sri Lanka, Thailand, Laos, Kambodscha, Australien,
            Neuseeland, Jamaica, Kuba, Trinidad und Tobago, Marokko, Tunesien, Ägypten,
            Türkei, Spanien, Portugal, Italien, Griechenland, Kroatien, Slowenien, Malta,
            Ibiza, Mallorca, Sardinien, auf den Kanaren, Großbritannien, Irland, Frankreich,
            Tschechien, Ungarn, Schweiz, Russland, Schweden, Finnland, Niederlande, Dänemark,
            den USA und in Blackrockcity, if you know what I mean.
            Ich liebe es mein angelesenes Wissen mit der Realität zu vergleichen.
        </p>
    </div>
    <div class="col-md-5 col-xs-12 pad text no-padding-top">
        <p class="amatic title no-padding-bottom">
            Süchtig nach Kunst
        </p>
        <p class="text-justify">
            Ich habe so auf der ganzen Welt schon sehr, sehr viel Kunst in 1001 Ausstellung gesehen.
            Das schult das Auge. Schade, daß man so viel wieder vergißt,
            aber das Unterbewußtsein weiß es ja hoffentlich noch.
            Ich mag polynesische Masken und andere Stammeskunst, psychedelische Kunst,
            moderne Fotografie, gut gemalte Ölbilder, Skulpturen und neu erfundene Materialien.
        </p>
        <span class="amatic title">Warum ich und was kann ich alles für Sie tun?</span>
        <p class="text-justify">
            Ich bin sehr schnell und sprudle über vor Ideen, wenn man mich läßt.
            Ich bin außergewöhnlich gut bei knappen Timings und bei interdisziplinären Gesamtlösungen.
            Ich hab eine sehr gute Allgemeinbildung und Menschenkenntnis.
            Für mich ist ein Firmen-Logo das Gewand, das man dem „Baby“ des Kunden anzieht und das muß genau passen.
            Das nehme ich sehr ernst. Sie brauchen das Layout eines Inserats und aus gleicher Hand das Shooting,
            das Styling und eventuelle Kostüme? Sie eröffnen ein Geschäft oder Lokal und brauchen ein CI mit Logo,
            Produktdesign und Interiordesign? Sie wollen bei einer Messe dabeisein und brauchen einen Look in Form eines
            Folders aber dazu auch den ganzen Messestand, die Outfits der Mitarbeiter, die Giveaways und natürlich noch ein Poster?
            Oder sie brauchen für eine Einzelaktion alle möglichen Medien inklusive Webdesign?
            Ein Buchcover oder Editorial-Design mit für Sie angefertigter Illustration?
            Dann senden Sie mir einfach Ihre Anfrage und ihr ungefähres Budget,
            dann kann ich Ihnen ein mehrstufiges Angebot (Ein kleinerer Betrag für das erste Layout und erste Ideen,
            der Rest für die Umsetzung bzw. weitere Layoutrunden) machen und Ihnen Leute aus
            meinem Netzwerk empfehlen für die Dinge, die ich nicht selber mache (Eventmanagement oder Programmierung zB).
        </p>
    </div>
    <img src="content/img/blank.png" width="10px">
</div>

<div class="row voffset">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a ui-sref="contact">
            <img src="content/img/footer-brooch.png" class="img-responsive" alt="footer-brooch" />
        </a>
    </div>
</div>
