<!--
<div class="pad" ng-switch="vm.isAuthenticated()">

    <div class="row voffset5 bonjour-login" ng-switch-when="false">

            <div class="col-md-6 bonjour-login-form">

                <form class="" role="form" novalidate ng-submit="vm.openSesame()">

                    <div class="row">

                        <div class="col-md-2">
                            <input type="password" name="password" ng-model="vm.password" />
                        </div>

                    </div>

                </form>

            </div>

    </div>

    <div ng-switch-when="true" has-authority="ROLE_BONJOUR">
        <div ng-include="'app/bonjour/index.html'"></div>
    </div>

</div>
-->

<div class="row voffset5 bonjour-login">

    <div class="col-md-6 bonjour-login-form">

        <form class="" role="form" novalidate ng-submit="vm.openSesame()">

            <div class="row">

                <div class="col-md-2">
                    <input type="password" name="password" ng-model="vm.password" />
                </div>

            </div>

        </form>

    </div>

</div>
